<%= render "shared/header" %>
<div class="container">
  <h2 class="gray">For an extra security measure, please confirm your <span class="green-dark">Date of Birth</span>.</h2>
  <section class="form-section">
    <%= form_for @session, :html => {:class => 'form'} do |f| %>
      <% if @session.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>
          <ul>
          <% @session.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :birth_month, "Month" %>
        <%= f.select :birth_month, 1..12, class: "form-control input-lg" %>
      </div>
      <div class="form-group">
        <%= f.label :birth_day, "Day" %>
        <%= f.select :birth_day, 1..31, class: "form-control input-lg" %>
      </div>
      <div class="form-group">
        <%= f.label :birth_year, "Year" %>
        <%= f.select :birth_year, options_for_select((1900..2015), 1980) , class: "form-control input-lg" %>
      </div>
      <div class="actions">
        <%= f.submit "Next", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

  </section>
</div>
