<%= render "shared/header" %>
<div class="container">
  <h2 class="gray">Here is the info for <br class="visible-xs">Citation <span class="green"><%= @citation.citation_number %></span></h2>
  <% if @citation.has_warrant? %>
    <span class="help-block warrant">A warrant was issued on <%= @citation.formatted_date(@citation.warrant_date) %></span>
  <% end %>
  <section class="payment-options">
    <h3>How to Resolve</h3>
    <span class="help-block">Click an option below:</span>
    <div class="btn-group btn-group-lg" role="group">
      <%= link_to pay_citation_path(@citation), class: "btn btn-default" do %>
        <%= icon('usd', '', id: 'pay-online', class: '') %>Pay<br><span class="small">Options</span>
      <% end %>
      <%= link_to court_path(@citation.court), class: "btn btn-default" do %>
        <%= icon('balancescale', '', id: 'court-info', class: '') %>Court<br><span class="small">Info</span>
      <% end %>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other<br><span class="small">Options</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Volunteer</a></li>
        <li><a href="#">View Other Citations</a></li>
      </ul>
    </div>
  </section>
  <h3>Citation Information</h3>
    <div class="list-group">
      <div class="list-group-item">
        <% @citation.violations.each do |v| %>
          <h4 class="list-group-item-heading"><%= v.violation_description %></h4>
          <span >Violation number: <%= v.violation_number %></span>
          <span class="help-block">Violation cost: <%= number_to_currency(v.total_cost.to_f/ 100, unit: '$') %></span>
        <% end %>
        <ul class="list-unstyled">
          <li><strong>Court Location</strong>: <%= @citation.court.court_location %></li>
          <li><strong>Court Date</strong>: <%= @citation.formatted_date(@citation.court_date) %></li>
          <li><strong>Total Court Costs</strong>: <%= number_to_currency(@citation.total_cost.to_f/ 100, unit: '$') %></li>
          <h5>Defendant Info:</h5>
          <li><strong>DOB</strong>: <%= @citation.formatted_date(@citation.date_of_birth) %></li>
          <li><%= @citation.defendant_address %></li>
          <li><%= "#{@citation.defendant_city}, #{@citation.defendant_state}" %></li>
          <li><strong>License</strong>: <%= @citation.drivers_license_number %></li>
        </ul>
      </div> <!-- .list-group-item -->
    </div> <!-- .list-group -->
</div>
