<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="light well">
          <table class="table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Court</th>
                <th>Role</th>
                <th>Logins</th>
                <th>Last Activity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <% @users.each do |user| %>
                <td><%= user.email %></td>
                <td><%= court_text(user.court) %></td>
                <td><%= user.sign_in_count %></td>
                <td><%= [time_ago_in_words(user.last_sign_in_at), " ago"].join if user.sign_in_count > 0 %></td>
                <td><%= link_to "edit", edit_admin_user_path(user), class: "btn btn-success" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to "Add User", new_admin_user_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
